<div class="pt-10 pb-4 px-4 text-5xl font-bold text-white">
  Now Playing: Round {{.round}}
</div>
<div class="text-5xl text-white">
  <div class="p-4">{{.description}}</div>
  <div class="p-4">{{.contract}}</div>
</div>
<div class="mt-5">
  <button 
    hx-get="round/{{.nextRound}}"
    hx-target="#game"
    class="bg-red-500 text-7xl hover:bg-blue-700 text-white font-bold py-4 px-8 rounded xl:bg-blue-500 xl:text-lg xl:py-2 xl:px-4"
  >
    Next Round {{.nextRound}}
  </button>
</div>
